<% provide(:title, @event.name) %>
<div class="center hero-unit">
  <h3><%= @event.name %></h3>

  <div style = "margin-top:60px; margin-bottom: 20px; text-align: left; width:80%">
  	<div><%= @event.city %></div>
  	<div><%= @event.event_type %></div>
  	<div><%= @event.field %></div>
  	<div><%= @event.host %></div>
  	<div><%= @event.description %></div>
  	<div><%= @event.cost %></div>
  	<div><%= @event.ticket_url %></div>
  	<div><%= @event.ticket_info %></div>
  	<div><%= @event.organization_description %></div>
  	<div><%= @event.contact %></div>
  	<div><%= @event.contact_phone %></div>
  	<div><%= @event.venue %></div>
  	<div><%= @event.venue_addr %></div>
  	<div><%= @event.venue_directions %></div>

  	

  </div>
</div>